*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
  background: white;
  color: #111;
  overflow-x: hidden;
}

/* navbar begins */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 30px;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar.shrink {
  padding: 10px 30px;
  font-size: 0.95rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.desktop-nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}
/* navbar ends */

/* header begins */
.header {
  height: 100vh;
  background: url('');
  display: flex;
  justifcy-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.3rem;
  opacity: 0.9;
}
/* header ends */

/* sections */
.section {
  padding: 100px 20px;
  text-align: center;
}
.black-section {
  background: #111;
  color: white;
}

.light-section {
  background: #f8f8f8;
  color: #111;
}

/* footer begins */
footer {
  text-align: center;
  padding: 30px0;
  background: #000;
  color: white;
  font-size: 0.9rem;
}
/* footer ends */

/* mobile overlay nav */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0.0,0,0.95);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 15px;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}
/* mobile menu ends */

/* responsive */
@media (max-width: 768px) {
  .desktoop-menu {
    display: none;
  }

.hamburger {
  display: block;
}
}
